@model IEnumerable<AccountRecord.Models.ViewModels.RecordViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DetailList</title>
</head>
<body>

    <table class="table">
        <tr>
            <th>#</th>
            <th>
                類別
            </th>
            <th>
                日期
            </th>
            <th>
                總金額
            </th>
            <th></th>
        </tr>
    @{var index = 1; }
    @foreach (var item in Model) {
        <tr>
            <td>@(index++)</td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @item.Date.ToString("yyyy-MM-dd")
            </td>
            <td>
                @item.TotalAmount.ToString("N0")
            </td>

        </tr>
    }
    
    </table>
</body>
</html>
